html,body{
    padding:0;
    margin:0;
}

body{
    background-color: #555;
    display:flex;
    justify-content:center;
    align-items:center;
}

.container{
    text-align: center;
}

h1{
    color:orange;
    font-size:4rem;
    text-shadow: 3px 3px #ff0000;
    text-decoration: 3px underline;

}

.user-input{
    color:greenyellow;
    text-align: center;
    font-size:1.8rem;
    text-shadow: 2px 2px #ff0000;

}

.center-btn{
    text-align: center;
}

.center-btn button{
    padding:6px 20px;
    font-size:1.6rem;
    color:palegreen;
    background-color: #555;
    border-color:white; 
    cursor:pointer;
    font-weight: 600;
    text-shadow: 2px 2px #ff0000;
}

input{
    width:16rem;
    height:3rem;
    background-color: #555;
    border-color: white;
}

input[type=number]{
    font-size:2rem;
    color:lightskyblue;
    text-shadow: 2px 2px #ff0000;
    font-weight: 600;
    text-align: center;
}

#results{
    text-align: center;
    color:springgreen;
    font-size:2rem;
    font-weight: 600;
}