.box{
    height:200px;
    width: 200px;
    background-color: silver;
}
.container{
    display:flex;
    justify-content:space-evenly;
}
@media(max-width:1024px){
    .container{
        flex-direction:column;
        padding:15px;
        
    }
    .box{
        width: 100%;
        margin-bottom: 10px;
    }
}
